:root {
  --bg-color: #0B1E00;
  --primary-green: #747261;
  --secondary-green: #abd870;
  --highlight: #F0C5FF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: monospace;
}

h1, h2{
  font-family: 'Ubuntu Mono', monospace;
  padding-bottom: 10px;
  background: transparent;
}

.title{
  position: absolute;
  top: calc(10vh);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 20vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#c {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;

  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.l-menu{
  grid-area: 2 / 1 / 5 / 2;
  justify-self: center;
  align-self: center;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  display: block;
}


.t-menu{
  grid-area: 1 / 2 / 2 / 5;
  justify-self: center;
  align-self: center;
  font-size: 18px;
  min-height: 100px;
  padding-top: 30px;
  align-content: space-between;
}

.navlink{
  list-style: none;
  text-decoration: none;
  font-family: 'Ubuntu Mono', monospace;
  justify-self: center;
  align-self: center;
  height:36px;
  line-height:36px;
}

.cv {
  border: 1px var(--secondary-green) solid;
  border-radius: 5px; 
}

.topitem {
  padding-left: 20px;
  padding-right: 20px;
}

.fab, .far{
  display:inline-block;
  font-size: 20px;
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: center;
  background-color: transparent;
  padding-top: 5px;
}

.icon:link, .topitem:link, a:link{
  text-decoration: none;
  color: var(--primary-green);
}

.icon:visited, .topitem:visited, a:visited{
  text-decoration: none;
  color: var(--primary-green);
}

.icon:hover {
  text-decoration: none;
  color: var(--secondary-green);
  font-size: 23px;
}

.topitem:hover, a:hover {
  text-decoration: none;
  color: var(--highlight);
}

.icon:active, .topitem:active, a:active {
  text-decoration: none;
  color: var(--primary-green);
}

.content {
  grid-area: 2 / 2 / 6 / 6;
  color: white;
  display: block;
  align-items: center;
  text-align: left;
}

#profpic {
  height: 300px;
  width: 450px;
  float: left;
  border-radius: 5px;
  margin: 10px 40px;
}

.enter {
  font-size: 60px;
  position: absolute;
  top: calc(85vh - 30px);
  left: calc(50vw - 30px);
  background-color: transparent;
}

.main_page_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  margin: 5px;
  border: solid var(--primary-green) 1px;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  width: 250px;
}

.project-wrapper {
  width: 33.333333%;
  display: flex;
}

.project_img {
  height: 200px;
  width:200px;
  padding: 5px;
}

.project_tech {
  font-size: 12px;
  padding-bottom: 5px;
  color: var(--secondary-green);
}

.description {
  padding: 20px;
}

#activepage {
  text-decoration: underline; 
  color: var(--highlight);
}