*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    font-family: monospace;
}

h1, h2{
  font-family: 'Ubuntu Mono', monospace;
  padding-bottom: 10px;
  background: transparent;
}

.title{
  position: absolute;
  top: calc(10vh);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#c {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;

  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.l-menu{
  grid-area: 2 / 1 / 5 / 2;
  justify-self: center;
  align-self: center;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  display: block;
}

.t-menu{
  grid-area: 1 / 2 / 2 / 5;
  justify-self: center;
  align-self: center;
  font-size: 18px;
  min-height: 100px;
  padding-top: 30px;
  align-content: space-between;
}

.navlink{
  list-style: none;
  text-decoration: none;
  font-family: 'Ubuntu Mono', monospace;
  justify-self: center;
  align-self: center;
  height:36px;
  line-height:36px;
}

.cv {
  border: 1px rgb(171, 216, 112) solid;
  border-radius: 5px; 
}

.topitem {
  padding-left: 20px;
  padding-right: 20px;
}

.fab, .far{
  display:inline-block;
  font-size: 20px;
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: center;
  background-color: transparent;
  padding-top: 5px;
}

a:link {
    text-decoration: none;
    color: #747261;
  }
  
  a:visited {
    text-decoration: none;
    color: #747261;
  }

  a:hover {
    text-decoration: none;
    color: rgb(171, 216, 112);
  }
  
  a:active {
    text-decoration: none;
    color: #272A23;
  }

.content {
  grid-area: 2 / 2 / 6 / 6;
  color: white;
  display: block;
  align-items: center;
}

#profpic {
  height: 200px;
  width: 300px;
  float: left;
  border-radius: 5px;
  margin: 10px 40px;
}

.enter {
  font-size: 60px;
  position: absolute;
  top: calc(85vh - 30px);
  left: calc(50vw - 30px);
  background-color: transparent;
}

.main_page_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  margin: 5px;
  border: solid #747261 1px;
  border-radius: 10px;
  width: 25vw;
  text-align: center;
}

.project-wrapper {
  display: flex;
  align-items: flex-start;

}

.project_img {
  height: 150px;
  width:150px;
  padding: 5px;
}

.project_tech {
  font-size: 12px;
  padding-bottom: 5px;
  color: #747261;
}