<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/68d05dc315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>notstresing</title>
</head>
<body>
    <div class="container">
        <canvas id='c' href="/home"></canvas>
        <nav class='l-menu'>
            <ul>
                <li class='navlink'>
                    <a class="fab fa-github" href="https://github.com/michaelstresing" target="_blank"></a>
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-twitter" href="https://twitter.com/notstresing" target="_blank"></a>
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-linkedin" href="https://www.linkedin.com/in/michaelstresing/" target="_blank"></a>
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-stack-overflow" href="https://stackoverflow.com/users/11741170/michael-stresing" target="_blank"></a> 
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-instagram" href="https://www.instagram.com/michaelalexande.r/" target="_blank"></a> 
                </li>
                <li class='navlink'>
                    <a class="icon far fa-envelope" href="mailto:mstresing@gmail.com"></a> 
                </li>
                <li class='navlink cv'>
                    <a class="icon far fa-id-badge" href="static/cv.pdf" download="cv_michael_stresing" target="_blank"></a> 
                </li>
            </ul>
        </nav>
        <nav class='t-menu'>
            <a class='topitem' href="/about" style="text-decoration: underline; color: rgb(171, 216, 112)">about me</a>
            <a class='topitem' href="/projects">projects</a>
            <a class='topitem' href="/writing">writings</a>
        </nav>
    <div class="content">
        <h1> Michael Stresing </h1>
        <img id="profpic" src="/static/me.jpg" alt="handsome guy">
        <p class="description">Hey! I’m Michael Stresing, thanks for visiting. <br><br> I was born and raised in Vancouver, BC and moved to London to study at UCL.
            I spent 3 great years studying law (and 1 year studying it in Sydney)
            and graduated from UCL in 2018. My academic interests include Artist Rights, Privacy, Tech Ethics and Governance, and Employment law.
            <br><br>Since then, I’ve been working in the Legal Tech space, first by providing legal support in the early stage startup investment eco-system,
            and now as a developer - helping build the tools to make law accessible. 
            <br><br>I’d love to hear from you (whoever you are) feel free to reach out on Twitter or Email :)
        </p>
    </div>
    </div>
</body>
<script src="/static/app.js"></script>
</html>