<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/68d05dc315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>Michael Stresing</title>
</head>

<body>
    <div class="main_page_wrapper">
        <h1 class="title">Michael Stresing</h1>
        <canvas id='c'></canvas>
        <a class="enter fas fa-person-booth" href="/about" alt="Enter here"></a> 
    </div>
</body>
<script src="/static/app.js"></script>
</html>