<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/68d05dc315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>Michael Stresing</title>
</head>
<body>
    <div class="container">
        <canvas id='c' href="/home"></canvas>
        <nav class='l-menu'>
            <ul>
                <li class='navlink'>
                    <a class="fab fa-github" href="https://github.com/michaelstresing" target="_blank"></a>
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-twitter" href="https://twitter.com/notstresing" target="_blank"></a>
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-linkedin" href="https://www.linkedin.com/in/michaelstresing/" target="_blank"></a>
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-stack-overflow" href="https://stackoverflow.com/users/11741170/michael-stresing" target="_blank"></a> 
                </li>
                <li class='navlink'>
                    <a class="icon fab fa-instagram" href="https://www.instagram.com/michaelalexande.r/" target="_blank"></a> 
                </li>
                <li class='navlink'>
                    <a class="icon far fa-envelope" href="mailto:mstresing@gmail.com"></a> 
                </li>
                <li class='navlink cv'>
                    <a class="icon far fa-id-badge" href="static/cv.pdf" download="cv_michael_stresing" target="_blank"></a> 
                </li>
            </ul>
        </nav>
        <nav class='t-menu'>
            <a class='topitem' href="/about">about me</a>
            <a class='topitem' id="activepage" href="/projects">projects</a>
            <a class='topitem' href="/writing">writings</a>
        </nav>
        <div class="content">
            <div class="project-wrapper">
                <div class="project-card">
                    <h2> Wikipedia Crawler </h2>
                    <img class="project_img" src="https://raw.githubusercontent.com/michaelstresing/wiki_viz/master/network_graphs/https___en.wikipedia.org_wiki_Tim_Berners-Lee_network.png">
                    <p class="project_description">Wikipedia scraper and network vizualisation, including a simple CLI.</p>
                        <br>
                    <p class="project_tech">[Python3, NX/Matplotlib, Beautifulsoup, graphviz, numpy]</p>
                    <a class="fab fa-github-square" href="https://github.com/michaelstresing/wiki_viz" target="_blank"></a>
                </div>
                <div class="project-card">
                    <h2> This Site </h2>
                    <img class="project_img" src="https://raw.githubusercontent.com/michaelstresing/personalsite/master/app/static/mainpage.png">
                    <p class="project_description">You're already here, look around ;)</p>
                        <br>
                    <p class="project_tech">[Python3, Flask, Heroku, SSL, HTML/CSS/JS]</p>
                    <a class="fab fa-github-square" href="https://github.com/michaelstresing/personalsite/" target="_blank"></a>
                </div>
                <div class="project-card">
                    <h2> Hotdog || Not Hotdog? </h2>
                    <img class="project_img" src="static/hotdogs.png">
                    <p class="project_description">Image classification project, with the goal of classifying images of food. Examined the shortcomings of linear regression, and using embeddings from a pre-trained network.</p>
                        <br>
                    <p class="project_tech">[Jupyter, Sklearn, Keras, Linear Regression]</p>
                    <a class="fab fa-github-square" href="https://github.com/michaelstresing/notebooks/blob/master/Classification%20Hotdog.ipynb" target="_blank"></a>
                </div>
                <div class="project-card">
                    <h2> DBs and Algos </h2>
                    <!-- <img class="project_img" src=""> -->
                    <p class="project_description">Learning datastructures and algorithms by implimentation from ground up.</p>
                        <br>
                    <p class="project_tech">[Linkedlists, Stacks, Queues, Trees, Searching, Sorting]</p>
                    <a class="fab fa-github-square" href="https://github.com/michaelstresing/database-structures" target="_blank"></a>
                </div>
                <div class="project-card">
                    <h2> Quack </h2>
                    <!-- <img class="project_img" src=""> -->
                    <p class="project_description">A whatsapp clone, offering account authentication, and messaging, with basic AWS integration.</p>
                        <br>
                    <p class="project_tech">[Python3, Flask, Postgres, REST, AWS, HTML/CSS/JS]</p>
                    <a class="fab fa-github-square" href="https://github.com/michaelstresing/quack.io" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/app.js"></script>
</html>